.widgetContainer {
    width: 50%;
    justify-self: flex-end;
}

.widget {
    background-color: whitesmoke;
    border: none;
    box-shadow: inset 2px 2px 2px grey;
    border-bottom: 1px solid grey;
    width: 100%;
}

header {
    display: flex;
}

.createSkill {
    width: 30%;
    cursor: pointer;
}

.skillsBoard {
    background-color: white;
    width: 100%;
    min-height: 180px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.skill-tag {
    background-color: rgba(186, 0, 255, 0.2);
    width: 70%;
    margin: 3px auto;
    font-size: 13px;
    border-radius: 12px;
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteTag {
    background-color: whitesmoke;
    color: grey;
    border-radius: 50%;
    padding: 2px 7px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.deleteTag:hover {
    color: black;
    background-color: rgba(186, 0, 255, 0.2);
}