.dashboardBody {
    background-image: none;
    display: flex;
    justify-content: center;
}
.dbUserInfo {
    width: 200px;
    border: 1px solid black;
    margin: 20px 5px;
}
.dbEntries {
    width: 300px;
    margin: 20px 5px;
    border: 1px solid black;
}
.dbEvents {
    width: 300px;
    margin: 20px 5px;
    border: 1px solid black;
}